# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/
.venv/

# Jupyter / Colab
.ipynb_checkpoints/
*.ipynb

# Output files
python_output/
*.zip
*.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
